/* ===== CLIMATE CHALLENGE RESULTS SECTION ===== */
.grade-section {
    margin-bottom: 80px;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.section-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.result-chart {
    background-color: black;
    border-radius: 10px;
    width: 100%;
    height: 300px;
}
